apipkg
attrs
coverage
execnet
flake8
importlib-metadata
mccabe
more-itertools
packaging
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest
pytest-cov
pytest-flake8
pytest-forked
pytest-mock
pytest-xdist
six
wcwidth
zipp
colorama
freebsd-sysctl
pytest-bench
sqlite3
termcolor
uhid-freebsd
wheel
